<div><a href="/player_mode">Player Mode</a><a href="/training_mode">Training Mode</a></div>
<div id="content">
	<table>

		<tr class="board_element">
			<td id="board1" class="miniboard"><%= erb :_board %></td>
			<td id="board2" class="miniboard"><%= erb :_board %></td>
			<td id="board3" class="miniboard"><%= erb :_board %></td>
			<td id="board4" class="miniboard"><%= erb :_board %></td>
			<td id="board5" class="miniboard"><%= erb :_board %></td>
			<td id="board6" class="miniboard"><%= erb :_board %></td>
			<td id="board7" class="miniboard"><%= erb :_board %></td>
			<td id="board8" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board9" class="miniboard"><%= erb :_board %></td>
			<td id="board10" class="miniboard"><%= erb :_board %></td>
			<td id="board11" class="miniboard"><%= erb :_board %></td>
			<td id="board12" class="miniboard"><%= erb :_board %></td>
			<td id="board13" class="miniboard"><%= erb :_board %></td>
			<td id="board14" class="miniboard"><%= erb :_board %></td>
			<td id="board15" class="miniboard"><%= erb :_board %></td>
			<td id="board16" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board17" class="miniboard"><%= erb :_board %></td>
			<td id="board18" class="miniboard"><%= erb :_board %></td>
			<td id="board19" class="miniboard"><%= erb :_board %></td>
			<td id="board20" class="miniboard"><%= erb :_board %></td>
			<td id="board21" class="miniboard"><%= erb :_board %></td>
			<td id="board22" class="miniboard"><%= erb :_board %></td>
			<td id="board23" class="miniboard"><%= erb :_board %></td>
			<td id="board24" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board25" class="miniboard"><%= erb :_board %></td>
			<td id="board26" class="miniboard"><%= erb :_board %></td>
			<td id="board27" class="miniboard"><%= erb :_board %></td>
			<td id="board28" class="miniboard"><%= erb :_board %></td>
			<td id="board29" class="miniboard"><%= erb :_board %></td>
			<td id="board30" class="miniboard"><%= erb :_board %></td>
			<td id="board31" class="miniboard"><%= erb :_board %></td>
			<td id="board32" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board33" class="miniboard"><%= erb :_board %></td>
			<td id="board34" class="miniboard"><%= erb :_board %></td>
			<td id="board35" class="miniboard"><%= erb :_board %></td>
			<td id="board36" class="miniboard"><%= erb :_board %></td>
			<td id="board37" class="miniboard"><%= erb :_board %></td>
			<td id="board38" class="miniboard"><%= erb :_board %></td>
			<td id="board39" class="miniboard"><%= erb :_board %></td>
			<td id="board40" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board41" class="miniboard"><%= erb :_board %></td>
			<td id="board42" class="miniboard"><%= erb :_board %></td>
			<td id="board43" class="miniboard"><%= erb :_board %></td>
			<td id="board44" class="miniboard"><%= erb :_board %></td>
			<td id="board45" class="miniboard"><%= erb :_board %></td>
			<td id="board46" class="miniboard"><%= erb :_board %></td>
			<td id="board47" class="miniboard"><%= erb :_board %></td>
			<td id="board48" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board49" class="miniboard"><%= erb :_board %></td>
			<td id="board50" class="miniboard"><%= erb :_board %></td>
			<td id="board51" class="miniboard"><%= erb :_board %></td>
			<td id="board52" class="miniboard"><%= erb :_board %></td>
			<td id="board53" class="miniboard"><%= erb :_board %></td>
			<td id="board54" class="miniboard"><%= erb :_board %></td>
			<td id="board55" class="miniboard"><%= erb :_board %></td>
			<td id="board56" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board57" class="miniboard">hi<%= erb :_board %></td>
			<td id="board58" class="miniboard"><%= erb :_board %></td>
			<td id="board59" class="miniboard"><%= erb :_board %></td>
			<td id="board60" class="miniboard"><%= erb :_board %></td>
			<td id="board61" class="miniboard"><%= erb :_board %></td>
			<td id="board62" class="miniboard"><%= erb :_board %></td>
			<td id="board63" class="miniboard"><%= erb :_board %></td>
			<td id="board64" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board65" class="miniboard"><%= erb :_board %></td>
			<td id="board66" class="miniboard"><%= erb :_board %></td>
			<td id="board67" class="miniboard"><%= erb :_board %></td>
			<td id="board68" class="miniboard"><%= erb :_board %></td>
			<td id="board69" class="miniboard"><%= erb :_board %></td>
			<td id="board70" class="miniboard"><%= erb :_board %></td>
			<td id="board71" class="miniboard"><%= erb :_board %></td>
			<td id="board72" class="miniboard"><%= erb :_board %></td>
		</tr>

		<tr class="board_element">
			<td id="board73" class="miniboard"><%= erb :_board %></td>
			<td id="board74" class="miniboard"><%= erb :_board %></td>
			<td id="board75" class="miniboard"><%= erb :_board %></td>
			<td id="board76" class="miniboard"><%= erb :_board %></td>
			<td id="board77" class="miniboard"><%= erb :_board %></td>
			<td id="board78" class="miniboard"><%= erb :_board %></td>
			<td id="board79" class="miniboard"><%= erb :_board %></td>
			<td id="board80" class="miniboard"><%= erb :_board %></td>
		</tr>

	</table>
</div>