<div><a href="/player_mode">Player Mode</a><a href="/training_mode">Training Mode</a></div>
<table>

	<tr class="board_element">
		<td id="board1" class="miniboard"><%= erb :_board %></td>
		<td id="board2" class="miniboard"><%= erb :_board %></td>
		<td id="board3" class="miniboard"><%= erb :_board %></td>
		<td id="board4" class="miniboard"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

	<tr class="board_element">
		<td id="board5" class="miniboard"><%= erb :_board %></td>
		<td id="board6" class="miniboard"><%= erb :_board %></td>
		<td id="board7" class="miniboard"><%= erb :_board %></td>
		<td id="board8" class="miniboard"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

	<tr class="board_element">
		<td id="board9" class="miniboard"><%= erb :_board %></td>
		<td id="board10" class="miniboard"><%= erb :_board %></td>
		<td id="board11" class="miniboard"><%= erb :_board %></td>
		<td id="board12" class="miniboard"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

	<tr class="board_element">
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

		<tr class="board_element">
		<td id="board9" class="miniboard"><%= erb :_board %></td>
		<td id="board10" class="miniboard"><%= erb :_board %></td>
		<td id="board11" class="miniboard"><%= erb :_board %></td>
		<td id="board12" class="miniboard"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

	<tr class="board_element">
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
		<td id="board13" class="board"><%= erb :_board %></td>
		<td id="board14" class="board"><%= erb :_board %></td>
		<td id="board15" class="board"><%= erb :_board %></td>
		<td id="board16" class="board"><%= erb :_board %></td>
	</tr>

</table>